/**************************************
***            VARIABLES             ****
***************************************/
$crazullight: #d3e7f8 ;
$crazul: #1c75bc;
$crazul-2: #0A2558;
$crrojo:#8a191d;
$red : #ff0000; 
$crrojolight: #f3bec0;
$crgris: #5a5a5a;
$crnegro:#000000; 
$crblanco:#ffffff; 
$crblancohumo: #a6a6a6; //blanco-humo

// TRANSPARENCIAS
$rgbaazul: rgba(28, 117, 188, 0.5);
$rgbarojo:rgba(138, 25, 29, .8); 
$rgbagris:rgba(78, 78, 89, .6); //plomo
$rgbanegro:rgba(0, 0, 0, 0.7); 
$rgbablanco:rgba(255, 255, 255, .5); 

// RADIUS
$radius:8px;

// TRASNMISIONES
$trst1: all 1s ease;
$trst2: all .6s ease;
$trst3: all .3s linear;
$trst4: all .300ms linear;

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0; 
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

img { width: 100%; height:auto;}
a {text-decoration: none; color: inherit;}


@font-face {
  font-family: "Monserrat-bold";
  src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: "Monserrat-Medium-italic";
  src: url('../fonts/Montserrat-MediumItalic.ttf');
}
@font-face {
  font-family: "Monserrat-Regular";
  src: url('../fonts/Montserrat-Regular.ttf');
}

body {
  font-family: 'Monserrat-bold'; 
  margin: 0;  
  font-weight: 600;
}

.title{
  font-family: "Monserrat-Medium-italic";
}

// MEDIDAS PORCENTAJES 

.w10 {width: 10%;}
.w15 {width: 15%;}
.w20 { width: 20%}
.w30 { width: 30%;}
.w33 {width: 33.33%;}
.w40 {width: 40%;}
.w50 {width: 50%;}
.w60 {width: 60%;}
.w70 {width: 70%;}
.w80 {width: 80%;}
.w90 {width: 90%;}
.w100 {width: 100%;}
.wauto {width: auto;}

// AGRUPADORES
.container-wrap{display: flex; flex-wrap: wrap;}
.container-nowrap {display: flex; flex-wrap: nowrap;}
.space-around{justify-content: space-around;}
.space-between{justify-content: space-between;}
.align-items-center {align-items: center;}
.justify-content-end {justify-content: flex-end;}
.justify-content-center {justify-content: center;}

//ALINEAR
.center {width: 96%; max-width:1550px; margin: auto;}

.al-ct {text-align: center;}
.al-lf {text-align: left;}
.al-rg {text-align: right;}

.pd5 {padding: 5px;}
.pd10 {padding: 10px;}
.pd15 { padding: 15px;}
.pd20 {padding: 20px;}
.pd50 {padding: 50px;}

//MARGENES
.mg5 { margin: 5px;}
.mg10 {margin: 10px;}
.mg20 {margin: 20px;}
.mg-tp5 {margin-top: 5px;}
.mg-tp10 {margin-top: 10px;}
.mg-tp20 {margin-top: 20px;}
.mg-tp40 {margin-top: 40px;}
.mg-bt5 {margin-bottom: 5px;}
.mg-bt10 {margin-bottom: 10px;}
.mg-bt20 {margin-bottom: 20px;}
.mg-bt50 {margin-bottom: 50px;}
.mg-lt5 {margin-left: 5px;}
.mg-lt10 {margin-left: 10px;}
.mg-rg5 {margin-right: 5px;}
.mg-auto {margin: 0 auto;}

.fsize-12{font-size: 12px; }
.fsize-14{font-size: 14px; }
.fw-light{font-weight: 400;}

// ICONOS
.ico-navbar {font-size: 1.3em;
  &:hover{color:$crazul;}
}

.bold {font-weight: 700;}
.hidden{display: none;}
.visible{visibility: none; opacity: 0;}
.mostrar { display: block;}
.overflowh{overflow: hidden; height: 100vh;}

hr { height: 2px; border: none; background: $crrojo; margin:10px 0;}

.alerta-exito {
  color: #155724; background: #d4edda; border: 1px solid #c3e6cb; padding: 10px 20px; border-radius: 5px; margin: 10px 0;
}

.alerta-error {
  color: #721c24; background: #f8d7da; border: 1px solid #f5c6cb;
  padding: 10px 20px; border-radius: 5px; margin: 10px 0;
}

.box-message{position: fixed; top:80px; right: 10px; z-index: 200;}

/*
  .is-active{
  transform: translate(0,0); 
  opacity: 1;
  visibility: visible;
  }
*/

/**************************************
***            LOADER             ****
***************************************/
.loader{
  display:flex; align-items: center; justify-content: center; height: 100vh; z-index:150; background: #fff;
}
.preloader {
  width: 70px;
  height: 70px;
  border-radius: 50%;

  //border: 10px solid $crazul-2;
  //border-top: 10px solid $crazul;

  background: linear-gradient(45deg, transparent, transparent 40%, $crazul);
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.preloader:before{
  content:'';
  position: absolute;
  top:6px; left:6px; right:6px; bottom:6px;
  background: #fff;
  border-radius: 50%;
  z-index: 100;
}
.preloader:after{
  content:'';
  position: absolute;
  top:0px; left:0px; right:0px; bottom:0px;
  background: #fff;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, $crazul-2);
  z-index: 100;
  z-index: 1;
  filter: blur(10px);
}

@keyframes girar {
  from {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
/**************************************
***            BOTONES             ****
***************************************/
//boton general
.btn { padding: 8px 16px; border-radius: 8px; border: 1px solid $crrojo; background-color: $crrojo; color: $crblanco; transition: $trst2; cursor: pointer; display: flex; align-items: center; justify-content: center; font-size: 14px; margin:0 4px;
  i, input{margin-right: 4px;}
  &:hover { color: $crrojo; background: transparent; transition: $trst2; }
}

.btn-1 { padding: 8px 16px; border-radius: 8px; border: 1px solid $crgris; background-color: $crblancohumo; transition: $trst3; cursor: pointer;  display: flex; align-items: center; justify-content: center; font-size: 14px; margin:0 4px;
  i, input{margin-right: 4px;}
  &:hover { color: $crblanco; background: $crgris; transition: $trst2; }
}

.btn-2 { padding: 6px 10px; border-radius: 2px; border: 1px solid $crrojo; background-color: $crrojo; color: $crblanco; transition: $trst3; cursor: pointer; display: inline-block; text-align: center;  font-size: 15px; margin: 5px; 
}

// botones colores
.btn-azul{ border:1px solid $crazul; background-color: $crazul; transition: $trst2; 
  &:hover{ color: $crazul; background-color: transparent;}
}

.btn-gris{ border:1px solid $crgris; background-color: $crgris; transition: $trst2; 
}

.btn-3{transition: $trst3; font-size: 14px; font-weight: 400; display: flex; justify-content: center; align-items: center; 
  img{width: 30px; margin-right: 6px;}
}

.btn-file{transition: $trst3; font-size: 16px; font-weight: 500; display: block; margin-bottom: 10px;  
  i{font-size: 20px; margin-right: 6px;}
  &:hover{text-decoration: underline;}
}

.btn-vermas{ transition: $trst3; font-size: 14px; font-weight: 400; display: block; margin-bottom: 10px; padding: 10px 20px; 
  &:hover{text-decoration: underline;}
}

.btn-submit2{padding:16px 20px; font-size: 20px;}
.btn-none{ cursor: no-drop; }
.isDisabled{ background: $crgris; color: $crblancohumo; cursor: no-drop; opacity: 0.5; text-decoration: none; pointer-events: none; border-color: $crgris;

}

/********************************************
****               LOGIN               ****
*********************************************/
.login-escuela{ min-height: 100vh; align-items: center; background:linear-gradient(200deg, $crazul, $crazul-2 75%);
  .box-imagen{ display: flex; justify-content: center;
    .img-login{width: 80%; margin: auto;}
  }
  .box-formulario-login{
    .box-title{
      text-align: center; margin-bottom: 30px; color:$crblanco;
    }
    .form {transition: 0.5s all linear; width:90%; margin: auto; background: rgba(255, 255, 255, .1); padding: 50px 20px; border-radius: 5px;  }
      .form.invalido .inputEmail .input{
        border: 1px solid $crrojo;
      }
      .form.valido .inputEmail .input{
        border: 1px solid #45590F;
      }      

      .box-input{position: relative; color: lightgrey; height: 50px; margin-bottom: 20px;
        .input {width:100%; height: 100%;  border: 1px solid lightgray; border-bottom-width: 2px; font-size: 17px; padding-left: 40px; border-radius: 5px;  outline: none; 
          &::placeholder{color: lightgrey;}
          &:focus{border-color: $crgris;}
        }
        .icon{position:absolute; top:0; left:10px; height: 100%;  display: flex; font-size: 24px; align-items: center;}
        .toggle{position: absolute; top:0; right: 10px; height: 100%; color: $crgris; cursor: pointer; font-size: 24px; display: flex; align-items: center; display: none; }
        .active{display: flex;}
        .none{display: none;}
      }
      
      .inputEmail {margin-bottom: 34px;
        .erroremail {font-style: italic; width: 100%; display: block; text-align: center;}
        #span1{color:#45590F}
        #span2{ color:$crrojo;}
      }
      
      .field{text-align: center; margin-top: 10px;
        .link{ color:$crazul-2; letter-spacing: 0.5px; transition: .2s linear; 
          &:hover{text-decoration: underline;}
        }
      }

      .box-buttons{margin-top: 10px; display: flex; align-items: center; flex-direction: column;
        .btn{margin: 0 10px; width: 100%; margin-bottom: 10px;  letter-spacing: 1px; height: 50px; font-size: 20px; text-transform: uppercase;  }
        .link{ color:$crazul-2; letter-spacing: 0.5px; transition: .2s linear; margin-left: 10px; 
          &:hover{text-decoration: underline;}
        }
      }

  }

  @media (max-width:900px){
    .box-imagen, .box-formulario-login{width: 100%; transition: $trst2;}
    .box-imagen{
      .img-login{width: 60%;}
    }
    .box-formulario-login{
      .form{padding: 20px 10px;}
    }
  }

}

/**************************************
***          FORMULARIOS          ****
***************************************/
.box-tabla{
  input[type="checkbox"]{width: 20px; height: 20px;}
  table{ thead { background-color: #1c75bc; color: $crblanco;}}
}

.box-formulario{ margin-bottom: 50px; padding:50px; background-color: $crblanco; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3%); border-radius: 3px;

  .title{margin-bottom: 20px; font-size: 20px;} 
  .w50{width:calc(50% - 20px); margin:0 10px;}
  
  .box-input{width:100%; position: relative; margin-bottom: 16px; 
    input, select, textarea{padding:8px 36px 8px 16px; width:100%; height: 50px; background-color: $crblanco; outline: none; border-radius:$radius; border: 1px solid rgba(28, 117, 188, 0.5);   
      &:hover, &:focus{border: 1px solid rgba(28, 117, 188, 0.9);}
    }
    .counter{position: absolute; right: 10px; top: 50%; border-left: 1px solid rgba(28, 117, 188, 0.5); padding-left: 10px; width: 36px; font-weight: 400; color: $crgris;}
    .counter-2{position: absolute; right: 10px; bottom: 20px; border-left: 1px solid rgba(28, 117, 188, 0.5); padding-left: 10px; width: 36px;}
    textarea{height: auto; resize: none;}
    label{ font-size: 18px; line-height: 18px; color:$crgris; margin-bottom: 10px; display: block; color: $crazul; font-weight: 700;
      .font-light{font-weight: 500;}
    }
    .btn-file{display: flex; align-items: center; padding:12px 20px; border-radius:$radius; background-color: $crazul; color: $crazullight; margin-bottom: 10px; 
      i{font-size: 20px; margin-right: 5px;}
    }
  } 

  .box-input-container{display: flex; flex-wrap: wrap; align-items: center; margin-right: 10px; width: 100%; margin-bottom: 10px; 
    label{font-size: 18px; margin-right: 10px; line-height: 18px; color:$crazul; font-weight: 900;  display: block;  width: 100%; margin-bottom: 10px;}
    input{padding:8px 10px; width: 60%; height: 50px; outline: none; border: 1px solid rgba(28, 117, 188, 0.5); border-radius:$radius; margin-right: 5px; 
    }
    .btn{margin-top: 0; width: 30%;}   
    .btn-file{display: flex; align-items: center; padding:8px 10px; background-color: $crazul; color: $crazullight; margin-bottom: 10px; 
      i{font-size: 24px; margin-right: 5px;}}
  }
  
  .box-checkbox{ width: calc(50% - 20px); margin: 10px; display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center;
    p{font-size: 20px; margin-bottom: 10px; width: 100%;}
    input[type="checkbox"]{width:auto; padding-right: 16px;  border: 1px solid rgba(28, 117, 188, 0.5); }
  }

  .box-input-checkbox{ margin: 16px 5px; display: flex; flex-wrap: wrap; align-items: center; width: calc(25% - 10px); transition: $trst2;
    label{width: auto;}
    input[type="checkbox"]{ height: 30px; width: 30px; margin: 10px;}
    .label-checkbox{display: flex; font-weight: 500;}
  }

  hr{background-color: $crazul;}
 
  .btn{background-color: $crrojo; border:1px solid transparent; margin-top: 15px; transition: $trst2;
    &:hover{ border:1px solid $crrojo; background-color: transparent; border:1px solid $crrojo; }   
  }
  .btn-gris{ border:1px solid $crgris; background-color: $crgris; transition: $trst2; }
  
  @media (max-width:1070px){
    .box-input-checkbox{width: calc(33% - 10px);}
  }
  @media (max-width:800px){
    .box-input-checkbox{width: calc(50% - 10px);}
  }
  @media (max-width:550px){
    .box-input-checkbox{width: calc(100% - 10px);}
  }
  @media (max-width:700px){
    padding: 40px 20px;
  }
}

.box-formulario-container{ display: flex; margin-bottom: 20px; padding: 14px 20px; background-color: $crblanco; border-radius: $radius; margin: 5px;
  .box-input-container{display: flex; align-items: center;  background-color: $crblanco; 
    input{padding:8px 10px; height: 50px; outline: none; border-radius:$radius;  border: 1px solid rgba(28, 117, 188, 0.5); background-color: #fff; }      
    label{font-size: 18px; margin-right: 10px; line-height: 18px; color:$crgris;  display: block;}
  }

  @media (max-width:800px){
    flex-wrap: wrap;
    .box-input-container{ flex-wrap: wrap;
      input, label, button{width: 100%; margin: 5px;}
    }
    input{width: 100%; margin: 5px;}
  }
}
.box-formulario-register{ display: flex; flex-wrap: wrap; margin-bottom: 20px;
  .w25{width:calc(25% - 20px); margin:10px; transition: $trst2;}
  .box-input{position: relative; margin-bottom: 10px; 
    input, select, textarea{padding:8px 10px; width:100%; height: 50px; outline: none; border-radius:$radius; border: 1px solid rgba(28, 117, 188, 0.5); background-color: $crblanco; 
    }
    textarea{height: auto;}
    label{ font-size: 18px; line-height: 18px;  color: $crazul; font-weight: 700; margin-bottom: 10px; display: block;}
  }
  
  .box-checkbox{ width: calc(50% - 20px); margin: 10px; display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center;
    p{font-size: 20px; margin-bottom: 10px; width: 100%;}
    input[type="checkbox"]{width:auto; padding-right: 16px;}
  }
  hr{background-color: $crazul;}
  .btn{background-color: $crrojo; border:1px solid transparent; margin-top: 15px; transition: $trst2;
    &:hover{ border:1px solid $crrojo; background-color: transparent; border:1px solid $crrojo; }   
  }

  @media (max-width:1150px){
    .w25{width:calc(33.33% - 20px);}
  }
  @media (max-width:900px){
    .w25{width:calc(50% - 20px);}
  }

  @media (max-width:580px){
    .w25{width:100%;}
  }
}
/**************************************
***          home-content          ****
***************************************/
.home-content{padding-bottom: 50px;
  .box-titles{ display: flex; align-items: center; justify-content: space-between; color:$crazul; margin-bottom: 30px; transition: $trst1;
    .title{font-size: 26px;}
    @media (max-width:650px){
      flex-wrap: wrap;
      .title{font-size: 22px;}
    }
  }

  @media (max-width:500px){
    .w80{width: 100%; transition: $trst2;}
  }

  .parrafo{font-family: "Monserrat-Regular"; display: flex; align-items: center; text-align: justify; font-weight: 400; 
    i{font-size: 18px; font-weight: 800; margin-right: 10px; color: $crazul; }
  }
  .box-info{ background: lightskyblue; color: $crazul-2; padding: 5px 20px; border-radius: $radius; margin-bottom: 30px;
    .text{font-family: "Monserrat-Regular";  display: flex; margin: 10px 0; align-items: center; text-align: justify; font-weight: 400; 
      strong{margin: 0 5px;}
      i{font-size: 18px; font-weight: 800; margin-right: 10px; color: $crazul-2; }
    }
    .text2{font-family: "Monserrat-Regular"; margin: 10px 0; align-items: center; text-align: justify; font-weight: 400; 
      strong{margin: 0 5px;}
      i{font-size: 18px; font-weight: 800; margin-right: 10px; color: $crazul-2; }
    }
  }

  .box-botones{ margin: 10px 0; display: flex; transition: $trst2;
    @media (max-width: 1000px){
      flex-wrap: wrap;
      .btn{margin:4px;}
    }
  }
  .box-image{text-align: center;
    .img-perfil{border-radius: 50%; width: 250px; height: 250px; margin: auto; }
  }
  .box-redes-sociales{padding: 16px 0; display: flex; justify-content: center;
    i{font-size: 2rem; margin: 0 10px; }
    .fa-instagram{color: $red;}
    .fa-facebook-f, .fa-linkedin-in{color: $crazul;}
  }

  .box-porcentaje{ position: relative; height: 230px; display: flex; align-items: center; justify-content: center; flex-direction: column;
    .porcentaje{ position: relative; width: 150px; height: 150px;
      svg{position: relative; width: 150px; height: 150px;
        circle{ width: 150px; height: 150px; fill:none; stroke-width: 10; stroke: $crazul-2 ; transform:translate(5px, 5px); stroke-dasharray: 440px; stroke-dashoffset: 440px; stroke-linecap: round;
          &:nth-child(1){stroke-dashoffset: 0; stroke: #f3f3f3; }
          &:nth-child(2){stroke-dashoffset: calc(440px - (440px * 10) / 100); stroke: $crazul; }
        }
      }
      .numero{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; color:$crazul; 
        h2{font-size: 36px; span{font-size: 18px; } }
      }
    }
    .text{padding: 10px 0 0; color: $crazul-2; letter-spacing: 1px;}
  }

  .admin-multi-accesos{
    .grupos-botones{padding: 30px 20px; border-radius: $radius; background-color: $crblanco; box-shadow: 0 0 5px rgba(0, 0, 0, .7);
      .box-titles{ .title{font-size: 20px; } }
      .inner-botones-rapidos{
        display: grid; grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        .btn-display{ display: flex; flex-direction: column; align-items: center; padding: 30px 20px; border: 1px solid $crazul-2; transform: $trst2; color: $crazul-2; height: 155px;
          i{font-size: 36px; margin-bottom: 14px; transition: $trst2;}
          .links_name{ text-align: center; font-size: 18px; font-weight: 400; color: $crazul;
            i{font-size: 16px;}
          }
          &:hover{background-color: $crazul; border-color: $crazul; color: $crblanco;}
          &:hover i{font-size: 42px;}
          &:hover .links_name{ color: $crblanco; i{font-size: 16px;}}
        }
      }
    }

  }

  .cursos-content-home{ 
    .tabs-cursos-home{ width: 100%; background-color: $crblanco; padding:25px 30px 30px; border-radius: 10px;
      .tabs-nav{ width: 100%; margin: auto; height: 100px; display: flex;  align-items: center; justify-content: space-around; position: relative; transition: $trst2; 
        label{ display: block; height: 100%; width: 100%; transition: $trst2; text-align: center; cursor: pointer; position: relative; z-index: 1; color:$crazul; border: 1px solid $crazul; border-radius:4px; display: flex; justify-content: center; flex-direction: column;
          .smalltext{font-size: 14px; padding-top: 6px;}
        }
        // .slider{position: absolute; height: 100%; width: 16.50%;  z-index: 0; background-color: $crazul; border-radius: 4px; left: 0; bottom: 0; transition: $trst3;}        
      }
      #fase6:checked ~ .tabs-nav label.fase6{
        color:$crblanco; transition: $trst3;
        background-color: $crazul;
      }    
      input[type="radio"]{display: none;}
      #fase1:checked ~ .tabs-nav label.fase1,
      #fase2:checked ~ .tabs-nav label.fase2,
      #fase3:checked ~ .tabs-nav label.fase3,
      #fase4:checked ~ .tabs-nav label.fase4,
      #fase5:checked ~ .tabs-nav label.fase5,
      #fase6:checked ~ .tabs-nav label.fase6{
        color:$crblanco; transition: $trst3;
        background-color: $crazul;
      }      
      // #fase2:checked ~ .tabs-nav .slider{
      //   left: 16.66%;
      // }
      // #fase3:checked ~ .tabs-nav .slider{
      //   left: 33.32%;
      // }
      // #fase4:checked ~ .tabs-nav .slider{
      //   left: 49.98%;
      // }
      // #fase5:checked ~ .tabs-nav .slider{
      //   left: 66.64%;
      // }
      // #fase6:checked ~ .tabs-nav .slider{
      //   left: 83.30%;
      // }
      section .content{ display: none; margin-top: 20px; }
      #fase1:checked ~ section .content-1,
      #fase2:checked ~ section .content-2,
      #fase3:checked ~ section .content-3,
      #fase4:checked ~ section .content-4, 
      #fase5:checked ~ section .content-5, 
      #fase6:checked ~ section .content-6{ 
        display: block;}
      section .content .item-clases{width: calc(50% - 40px); margin: 20px; padding: 20px; text-align: center; transition: $trst2; background-color: $crblanco; color: $crazul; border-radius: $radius; box-shadow: 0px 0px 5px rgba(0, 0, 0, .5); 
        .title{ letter-spacing: 1px; text-transform: uppercase; font-size: 1.5rem; min-height: 60px; margin-bottom: 24px; }        
        img{width: 90%; margin: auto;}
        video, iframe{width: 94%; margin: auto; height: 280px;}
        &:hover{transform: scale(1.03); transition: $trst2;}    
      }

      section .content .bloqueado{color: $crgris; cursor: no-drop;   position: relative; overflow: hidden; 
        .box-overlay { position: absolute; width: 100%; height: 0; display: flex; justify-content: center; align-items: center; background-color: rgba(28, 117, 188, 0.8); z-index: 1; left: 0; bottom: -10px; color: $crblanco; overflow: hidden; transition: height 1s linear; font-size: 1em;
          .text{opacity: 0; margin-top: 50px; padding: 0px 50px; transition: margin, opacity 1s linear; transition-delay: 1s; text-align: center; 
            //i{color: $crazul-2;}
          }
        }
        &:hover .box-overlay{height: 100%; bottom: 0; padding: 10px 30px;  font-size: 1.5em;          
            .text{opacity: 1; margin-top: 0px;}           
        }
        &:hover{transform: scale(1.03); }   
        img, video, iframe{filter:grayscale(1);} 
      }
      
      
      section .content .text{ text-align: justify; line-height: 2; letter-spacing: 0.5px; }
      section .content ul {padding-left: 10px; list-style: none;}
      section .content ul li{ line-height: 2; text-align: justify; margin-bottom: 20px;}
      section .content ul li .subtitle{font-size: 2rem; color:$crazul; text-align: center; width:100%;}
    
    }

    @media (max-width: 1000px){
      .tabs-cursos-home{
        .tabs-nav{height: auto; flex-wrap: wrap; transition: $trst2; 
          label{width: 33.33%; height: 70px; }
        }
      }
    }
    @media (max-width: 800px){
      .tabs-cursos-home{
        section .content .item-clases{width: 100%; transition: $trst2; margin: 0px; margin-top: 20px;}
      }
    }
    @media (max-width: 650px){
      .tabs-cursos-home{ padding:20px 0px;
        .tabs-nav{
          label{width: 50%; height: 80px;}
        }
      }
    }
  }

  .foros-content-home{ 
    .tabs-foros-home{ width: 100%; background-color: $crblanco; padding:30px 10px; border-radius: 10px;
      .tabs-nav{ width: 180px; display: flex; flex-direction: column; position: relative; transition: $trst2; 
        label{ display: block; height: 80px; width: 100%; transition: $trst2; text-align: center; cursor: pointer; position: relative; z-index: 1; color:$crazul; border: 1px solid $crazul; border-radius:4px; display: flex; justify-content: center; flex-direction: column;
          .smalltext{font-size: 14px; padding-top: 6px;}
        }              
      }
      #fase6:checked ~ .tabs-nav label.fase6{
        color:$crblanco; transition: $trst3;
        background-color: $crazul;
      }    
      input[type="radio"]{display: none;}
      #fase1:checked ~ .tabs-nav label.fase1,
      #fase2:checked ~ .tabs-nav label.fase2,
      #fase3:checked ~ .tabs-nav label.fase3,
      #fase4:checked ~ .tabs-nav label.fase4,
      #fase5:checked ~ .tabs-nav label.fase5,
      #fase6:checked ~ .tabs-nav label.fase6{
        color:$crblanco; transition: $trst3;
        background-color: $crazul;
      }      
     
      section .content{ display: none; margin-top: 20px; }
      #fase1:checked ~ section .content-1,
      #fase2:checked ~ section .content-2,
      #fase3:checked ~ section .content-3,
      #fase4:checked ~ section .content-4, 
      #fase5:checked ~ section .content-5, 
      #fase6:checked ~ section .content-6{ 
        display: block;}
      section{width: calc(100% - 180px); }  
      section .content {width: calc(100% - 30px); margin:0 15px; transition: $trst2; 
      }
      section .content .item-foros {width: calc(70% - 20px); margin:0 10px; padding: 20px; transition: $trst2; background-color: $crblanco; color: $crazul; border-radius: $radius; box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
        &:last-child{width: calc(30% - 20px); margin:0 10px;}     
        
        .box-formulario{ padding: 10px; margin-bottom: 10px; box-shadow: none; position: relative;
          textarea, input{padding: 10px 40px 10px 20px; outline: none; border-radius: 40px; width: 100%;
            &:focus, &:hover{i{color:$crazul}}
          }
          textarea{border-radius: 10px; height: 50px; max-height: 240px; resize: none;}
          textarea:is(:focus, :valid){ border-color: $crazul; i{color:$crazul} }
          input:is(:focus, :valid){ border-color: $crazul; i{color:$crazul} }
          textarea::-webkit-scrollbar{width: 0px;}
          // textarea::-moz-scrollbar{width: 0px;}
          input{height: 40px; border-radius: 40px; }
          button{background: transparent; border:none; font-size: 18px; position: absolute; right: 22px; bottom: 16px; cursor: pointer;
          }
          .btn-submit{ bottom: 25px;}
        }
        .post-preguntas{ margin:16px 0;
          ul li{list-style: none;}
          .item-pregunta{ box-shadow: 0px 0px 5px rgba(0, 0, 0, .3); padding: 10px; padding-right: 20px; border-radius: $radius; margin: 20px 0;
            .img-32{width: 40px; height: 40px; border-radius: 50%;}
            .box-preguntas{ display: flex; width: 100%; padding-bottom: 20px; position: relative;
              .config{position:absolute; right: 10px; top:8px; cursor: pointer; 
                .config-publicacion{ position: absolute; background-color: $crazullight; border-radius: $radius; box-shadow: 0px 0px 3px rgba(0, 0, 0, .6); padding: 10px; display: none;
                  li{&:first-child{ border-bottom: 0.5px dashed $crazul-2;}}
                }
              }
              .preguntas{ margin-left: 5px;
                .nombre{font-size: 18px;}
                .fecha{font-weight: 400; color: $crnegro; font-size: 14px; }
                .pregunta{font-size: 18px; text-align: justify; margin-top: 10px; }  
              }
            }
            .respuestas{  width: 100%; border-top: 1px dashed #ccc; padding-top: 20px;        
              .box-comentarios{ display: flex; width: 100%; margin-bottom: 10px;
                .comentarios{ font-size: 16px; background-color: lightblue; padding: 12px; border-radius: $radius; margin-left: 5px;
                  .nombre{font-weight: 800; }
                  .comentario{color : $crnegro; font-weight: 400;}
                }
              }
            }

          }
        }  
      }
    }

    @media (max-width: 1000px){
      .tabs-foros-home{
        .tabs-nav{ width: 100%; flex-direction: row; flex-wrap: wrap; margin-bottom: 30px; transition: $trst2;
          label{width: 50%; height: 50px; }
        }
        section{width: 100%;}
        section .content{width: 100%; margin: 10px 0;}
        section .content .item-foros{ width: 100%; transition: $trst2; margin: 0; }
      }
    }
    
    
  }

  .grupos-content-grupos{ 
    .tabs-content-grupos{ width: 100%; background-color: $crblanco; padding:25px 30px 30px; border-radius: 10px;
      .tabs-nav{ width: 100%; margin: auto; height: 50px; display: flex; align-items: center; justify-content: space-around; position: relative; border-radius:4px; 
        label{ display: block; height: 100%; width: 100%; text-align: center; cursor: pointer; position: relative; z-index: 1; color:$crazul; border: 1px solid $crazul; transition: $trst3; display: flex; justify-content: center; flex-direction: column;          
        }        
      }
      input[type="radio"]{display: none;}
      #cursos:checked ~ .tabs-nav label.cursos,
      #clases:checked ~ .tabs-nav label.clases{
        color:$crblanco; transition: $trst3;
        background-color: $crazul;
      }      
      
      section .content{ display: none; }
      #cursos:checked ~ section .content-1,
      #clases:checked ~ section .content-2{ 
        display: block;}
      
      section .content .box-tabla{ margin-top: 20px; text-align: center; background-color: $crblanco; border-radius: $radius; box-shadow: 0px 0px 5px rgba(0, 0, 0, .5); padding: 20px;
        .box-titles{
          .title{ letter-spacing: 1px; text-transform: uppercase; font-size: 1.5rem; color: $crazul; } 
        }
        img{width: 90%; margin: auto;}
        .box-envio-correos{ text-align: left; display: flex; flex-wrap: wrap;
          .item-col{width: calc(50% - 20px); margin: 10px;}
          .box-listado-usuarios{
            .title{margin-bottom: 20px; color: $crazul;}
            .box-input{ margin-bottom: 20px; box-shadow: 0px 5px 5px rgba(0, 0, 0, .3); padding:10px 20px; border-radius: 8px;
              label{margin-right: 8px; width: 100%; color:$crazul}
              select, input, textarea{padding: 10px 12px; width: 100%; border-radius: 8px; outline: none;}
            }
            ul li{list-style: none; width: 25%;
              .fullname{margin-left: 8px; font-weight: 500;}
            }
          }

          .box-model-email{width: 100%; box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);}
        }   
      }    
    }

    .box-botones{ 
      @media (max-width: 1100px) {
        .btn{width:calc(33% - 10px); margin:5px; transition: $trst2;} 
      }
      @media (max-width: 760px) {
        .btn{width:calc(50% - 10px); transition: $trst2;} 
      }
      @media (max-width: 560px) {
        .btn{width:calc(100% - 10px); transition: $trst2;} 
      }
    }
    .box-tabla{padding: 14px 10px; background-color: $crblanco; box-shadow: 0 0 5px rgba(0, 0, 0, .7); border-radius: $radius;
      table{ thead { background-color: #1c75bc; color: $crblanco;}}
    }

  }

  .inner-content.w70{ padding-left: 40px; }
  .inner-content{margin: 20px 0;
    .inner-content-cursos{ display: flex; justify-content: center; background-color: $crblanco; border-radius: $radius; box-shadow: 0px 0px 5px rgba(0, 0, 0, .3); padding: 20px;
      .item-cursos{width: calc(50% - 30px); margin: 0 15px;
        .title{color: $crazul; margin-bottom: 20px;}
        .porcentaje_programa{font-size: 30px;}
        .list-avance{ li{ list-style: none;}}
        &:first-child{display: flex; flex-direction: column; align-items: center;}
      }
    }
    .datos-fases{ background-color: $crblanco; width: 250px; border-radius: 10px; box-shadow: 0px 0px 5px rgba(0, 0, 0, .3); padding: 10px 20px; margin: 10px 5px;
      .box-input{width: 100%; margin-bottom: 10px;
        input, select{padding:8px 10px; width:100%; height: 50px; outline: none; border-radius:$radius; border: 1px solid rgba(0, 0, 0, .5); background-color: #f2f2f2;      
        }        
        label{ font-size: 18px; line-height: 18px; color:$crgris; margin-bottom: 10px; display: block;}
      }
      .box-input-checkbox{ margin: 10px; display: flex; flex-wrap: wrap; align-items: center;      
        input[type="checkbox"]{width:30px; height: 30px; margin: 10px;}
      }
    }
    .datos-perfil{ background-color: $crblanco; border-radius: 10px; box-shadow: 0px 0px 5px rgba(0, 0, 0, .3); padding: 20px;
      .box-text{ padding: 16px 20px; border-bottom: 1px solid rgba(0, 0, 0, .3); display: flex; align-items: center;
        label{font-weight: 900; margin-right: 20px; color: $crazul;}
        .parrafo{font-family: "Monserrat-Regular"; display: flex; align-items: center; text-align: justify;
          i{font-size: 20px; font-weight: 900; margin-right:14px; color: $crazul; display: none;}
          .fa-download{margin-left:10px;}
        }
        .btn-file{display: flex; align-items: center; padding:12px 20px; border-radius:$radius; background-color: $crazul; color: $crazullight; margin-bottom: 10px; 
          i{font-size: 20px; margin-right: 5px; color: $crblanco;}}
        .etiqueta{ padding: 8px 12px; background-color: $crazul; color: $crblanco; margin-right: 5px; border-radius: $radius; }
        &:last-child {border-bottom:0;}
      }
    }

    @media (max-width:1000px){
      width: 100%; transition: $trst2;
      .w70{padding-left: 0;}
      .inner-content-cursos{flex-wrap: wrap; 
        .item-cursos{width: 100%; transition: $trst2;}
      }
    }    
    
    @media (max-width:600px){        
      .datos-perfil{
        .box-text{
          label{display: none;}
          .parrafo{ i{ display: block;} }
        }
      }
      
    }    
  }
  
  .clases-content{ width: calc(33% - 20px); margin: 10px; padding: 14px 10px;
    .title{font-size: 18px; margin-bottom: 16px; height: 50px;}
    p{font-size: 14px;}
    .box-image{ iframe{width: 100%;}}
  }

  .cursos-container{ display: grid; grid-template-columns: auto 4fr; gap: 10px;
    .fase-content{ padding: 14px 10px; background-color: $crblanco; box-shadow: 0 0 5px rgba(0, 0, 0, .7); border-radius: $radius;
      .title{ font-size: 18px;}   
    }
    .cursos-content-box{ display: grid; grid-template-columns:repeat(4, 1fr); gap: 10px;
      .cursos-content{ padding: 14px 10px; background-color: $crblanco;  box-shadow: 0 0 5px rgba(0, 0, 0, .7); border-radius: $radius;
        .btn-enlace{  display: flex; flex-direction: column; justify-content: space-between; min-height: 250px;           
          .title{font-size: 20px; margin-bottom: 16px; height: 100%;}
          p{font-size: 14px;}        
          .box-image,video, iframe{width: 100%; height: 140px;}
          .box-image img{width: auto; height: 100%;}
        }        
      }
    }

  }

  .admin-eventos-content{
    .box-tabla{padding: 10px 20px; background-color: $crblanco; box-shadow: 0 0 5px rgba(0, 0, 0, .7); border-radius: $radius;  margin-bottom: 30px;
    }
  }

  .eventos-content{ display: flex; flex-wrap: wrap; overflow: hidden;    
    .item-eventos-content{width: calc(60% - 10px); margin: 5px; padding:10px; background: $crblanco; border-radius: $radius; transition: $trst2;
      .box-evento{box-shadow: 0px 0px 10px $crnegro; padding:30px 20px; margin: 10px;
        .color{color: $crazul; margin-right: 10px; }
        .title{color: $crazul; margin-bottom: 20px; text-align: center;}
        img{border-radius: $radius; margin-bottom: 10px;}
        .parrafo{margin-bottom: 20px;}
        .link{text-decoration: underline;}
      }
    }

    .aside-eventos-content{width: calc(40% - 10px); margin: 5px; padding:20px; background: $crblanco; border-radius: $radius; transition: $trst2;
      .title{font-size: 20px; margin-bottom: 16px; color: $crazul; }
      .box-evento-aside{box-shadow: 0px 0px 3px $crnegro;  padding:20px; margin: 10px 5px; 
        .title{ margin-bottom: 16px; }
      }
    }

    @media (max-width: 800px){
      .item-eventos-content, .aside-eventos-content{ width: 100%; transition: $trst2; }
    }
  }

  .admin-cursos-content{ background-color: $crblanco;  box-shadow: 0 0 5px rgba(0, 0, 0, .7); border-radius: $radius; padding: 10px 20px; margin-bottom: 30px;
    .header-admin-label{
      @media (max-width: 800px){
        flex-wrap: wrap; padding: 10px;
        .w10, .w15, .w20{width:calc(33.33% - 10px); margin: 10px 5px;}
      }
    }
    .box-titles{ justify-content: flex-start; width: 100%; border-bottom: 3px solid $crgris; margin:10px 0;
      .text{font-size: 15px;}
    }
    .box-tabla{
      video, iframe{width: 100%; height: 180px; }
      .title{text-align: center; margin-bottom: 16px;}
      .text{text-align: justify;}
    }

    .box-clases{ 
      .item-box-clases{ display: flex; width: 100%;
        .box-text, .box-imagen{ width: calc(50% - 40px); margin: 20px; transition: $trst2; }
        .box-text{ transition: $trst2;
          .title{color: $crazul; margin-bottom: 16px; font-size: 24px;}
          p{ text-align: justify; line-height: 1.5;}
        }
        .box-imagen{transition: $trst2; img{width: 100%; border-radius: 10px; }}        
      }
    }
      
    .accordion{ width: 100%;
      .content-accordion{position: relative; margin: 20px 0px; background-color: $crblanco; box-shadow: 0 0 5px rgba(0, 0, 0, .4), inset 0 0 1px rgba(0, 0, 0, .4); border-radius: $radius;
        .btn-accordion{ width: 40px; height: 40px; cursor: pointer; z-index: 1; border-radius: 50%; position: absolute; left: 50%; bottom: -15px; background-color: $crazul; color: $crblanco; transform: translateX(-50%); font-size: 26px; text-align: center; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%);           
        }
        .rotate180{ transform: rotate(180deg) ; -webkit-transform: rotate(180deg) ; -moz-transform: rotate(180deg) ; -ms-transform: rotate(180deg) ; -o-transform: rotate(180deg) ; transition: 0.5s; }
        .box-label {position: relative; padding: 10px 20px; margin-bottom:30px ; display:flex; align-items: center;
          @media (max-width: 800px){
            flex-wrap: wrap; padding: 10px;
            .w10, .w15, .w20{width:calc(33.33% - 10px); margin: 10px 5px;}
          }
        }
        .inner-content-accordion{  position: relative; background-color: #e6e6e6; height: 0; overflow: hidden; transition: 0.5s; 
          
        .inner-curso-content{display:flex; flex-wrap: wrap; justify-content: space-around; align-items: center; padding: 20px 10px; width: 100%; border-top: 1px solid rgba(0, 0, 0, .5);
            &:hover{background-color: #ccc;}
          }
        }
      }
      .active .inner-content-accordion{ height: auto; transition: all .5s ease; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; }
    }

    @media (max-width:800px){
      .box-clases{
        .item-box-clases{ flex-wrap: wrap; 
          .box-text, .box-imagen{width: 100%; margin: 10px 0; transition: $trst2;}}
      }
    } 
  }

  .inner-cursos-content{ width: 100%; padding: 30px 0;
    .accordion{ width: 100%;
      .content-accordion{ position: relative; margin: 20px 0px; margin-bottom:50px; background-color: $crblanco;box-shadow: 0 0 5px rgba(0, 0, 0, .4), inset 0 0 1px rgba(0, 0, 0, .4); border-radius: $radius; 
        .btn-accordion{ width: 40px; height: 40px; cursor: pointer; z-index: 1; border-radius: 50%; position: absolute; left: 50%; bottom: -15px; background-color: $crazul; color: $crblanco; transform: translateX(-50%); font-size: 26px; text-align: center; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: rotate(180deg);
        }
        .rotate180{ transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transition: 0.5s; }

        .box-label{position: relative; padding: 20px; margin-bottom:30px; display:flex; justify-content: space-between; align-items: center; background-color: $crazul; color: $crblanco;          
        }
        .inner-content-accordion{
          position: relative; background-color: $crblanco; height: 0; overflow: hidden; transition: 0.5s;
          .box-content-details{ display: flex; align-items: center; justify-content: center; border-bottom: 0.5px solid rgba(0, 0, 0, .5);
            iframe{width: 100%; height: 150px;}
            .btn{margin: 3px; 
              // &:last-child{display: none;}
            }
          }
        }
      }
      .active .inner-content-accordion{height: auto; transition: 0.5s;}
      
    }
  }

  .inner-grupos-content{
    .box-tabla{ background-color: $crblanco;  box-shadow: 0 0 5px rgba(0, 0, 0, .7); border-radius: $radius; padding: 10px 20px; margin-bottom: 30px;
      .title{color: $crazul; margin-bottom: 16px; font-size: 24px;}
    }
  }

  @media (max-width:850px){
    .w50{width: 100%; transition: $trst2;}
    .inner-content.w70{ padding-left: 0px; }
  }   
  
}
// PORTAL DE CLASES  
.portal-clases{ padding-top:104px; background-color: $crblanco;
  .box-titles{ display: flex; align-items: center; color:$crazul; margin-bottom: 30px; background-color: $crblanco;
    .title{width: 100%; font-size: 26px; text-align: center;}
    .box-botones{ display: flex; }
  }
  .inner-portal-clases, .inner-portal-clases-maestras{ display: grid; grid-template-columns: auto 2fr auto; gap:10px; height: 100%; min-height: 82vh;
    .list-cursos{ background-color: $crnegro; color: $crblanco; max-width: 320px; transition: $trst2;
      .accordion{ 
        .content-accordion-clases{position: relative;          
          .box-label {position: relative; padding: 20px; display:flex; align-items: center;  background-color: $crazul; border-bottom: 1px solid rgba(255, 255, 255, .5); cursor: pointer;
            .title{font-size: 17px;}
          }
          .inner-content-accordion{ position: relative; font-size: 13px; font-weight: 400; text-transform: uppercase; display:flex; align-items: center; height: 0; padding: 0px; overflow: hidden; transition: all .3s ease;
            input{margin-right: 10px; width: 16px; height: 16px;}
            &:hover{background-color: $crrojo;}              
          }
          .concluido{background-color: $crrojo;}              
        }
        .active .inner-content-accordion{ height: 50px; padding-left: 10px; transition: all .3s ease; }
      }
    }
      
    .content-media{ transition: $trst2;
      .box-video{width: 100%; position: relative; overflow: hidden; min-height: 400px; height: auto;
        video, iframe{width: 99.5%; min-height: 440px; height: 100%; position: absolute; top:-60px;}
      }
      .box-progreso{ width: 50%; display: flex; align-items: center; margin-bottom: 10px;
        .barra{ width: 100%; border-radius: 10px; border: 1px solid $crazul-2; padding: 4px; background: $crazullight; margin-right: 5px; height: 18px;
          .inner-barra{width: 0%; background: linear-gradient(45deg, $crazul-2, $crazul); height: 8px; transition: $trst2; border-radius: 10px;}
        }
      }
      .box-botones{padding: 14px 6px;
        .btn{border-radius: 4px; padding: 12px 20px; letter-spacing: 0.5px;}
      }
      .box-text{padding: 20px; text-align: justify; box-shadow: 0px 0px 4px rgba(0, 0, 0, .5); margin-bottom: 30px; border-radius: 6px;        
        .font-light{font-weight: 500;}
      }
    }
    .files-media{ padding: 20px 16px; background-color: $crazul-2; color: $crblanco; max-width: 250px; transition: $trst2;
    }

    @media (max-width:1050px){
      .files-media{grid-column: 1/-1; max-width: 100%;}
      .content-media{        
        .box-text{margin-bottom: 0px;}
      }
    }
    @media (max-width:850px){ 
      padding: 4px;     
      .list-cursos{grid-column: 1/-1; max-width: 100%;}
      .content-media{grid-column: 1/-1; max-width: 100%;
        .box-video{ video, iframe{width: 100%; min-height: auto; }}
        .box-progreso{width: 100%;}
        .box-text{margin-bottom: 0px;}
      }
    }
  }

  .inner-portal-clases-maestras{
    display: flex; justify-content: center; align-items: center;
    .content-media{width: 700px;  
      .box-video{ iframe{width: 100%;} }
    }
  }
}

/**************************************
***            DATATABLES         ***
*************************************/
.dataTable { margin-bottom: 20px; font-size: 14px; z-index: 10; }
.dataTables_length { display: inline-block; font-size: 16px;
  select { padding: 6px;}
}
.dt-button{padding:6px 12px; border: 1px solid $crazul; background-color: $crazul; border-radius: $radius; color:$crblanco; transition: $trst1;
  &:hover{background-color: $crazul-2; }
}
table.dataTable thead th{font-weight: 500;}
.paginate_button.current{background-color: $crazul; color: $crblanco; border: 1px solid $crazul; }

.dataTables_filter { display: inline-block; margin-bottom: 4px;
  input[type="search"] { border: 1px solid $crazul; width: 250px;
        padding: 7px; border-radius: $radius; }
}
.dataTables_wrapper { margin-bottom: 30px; }

.sorting_asc, .sorting { text-transform: uppercase; font-size:13px; background-color: $crazul; color: $crblanco; border: 1px solid $crblanco; }

// ====================== TABLAS =============================================
table {  margin-bottom: 20px;
  tr { margin-bottom: 10px; }
  th, td { border-bottom: 1px solid $crgris;
    text-align: center; width: auto; padding: 6px; }
  th { border-bottom: 1px solid $crazul; }
}

/**************************************
***   RECUPERACIÓN DE CUENTA      ****
***************************************/
.box-recupera{padding: 50px 0;
  .box-image{ width: 40%; margin: auto; }
  .box-inner-recupera{ padding-top: 60px;
    .box-titles{font-size: 24px; color: $crazul-2; text-align: center; margin-bottom: 30px;}    
    .item-recupera{ width: 50%;margin: auto; transition: $trst2;
      .parrafo{color: $crazul-2; font-weight: 500; text-align: justify; line-height: 2; margin-bottom: 20px;}
      .box-input{position: relative; color: lightgrey; height: 50px; margin-bottom: 20px;
        .input {width:100%; height: 100%;  border: 1px solid lightgray; border-bottom-width: 2px; font-size: 17px; padding-left: 40px; border-radius: 5px;  outline: none; 
          &::placeholder{color: lightgrey;}
          &:focus{border-color: $crazul;}
        }
        .icon{position:absolute; top:0; left:10px; height: 100%;  display: flex; font-size: 24px; align-items: center;}
        .toggle{position: absolute; top:0; right: 10px; height: 100%; color: $crgris; cursor: pointer; font-size: 24px; display: flex; align-items: center; display: none; }
        .active{display: flex;}
        .none{display: none;}
      }

      .form.invalido .inputEmail .input{
        border: 1px solid $crrojo;
      }
      .form.valido .inputEmail .input{
        border: 1px solid #45590F;
      }
      .inputEmail {margin-bottom: 34px;
        .erroremail {font-style: italic; width: 100%; display: block; text-align: center;}
        #span1{color:#45590F}
        #span2{ color:$crrojo;}
      }
      .link{ color: $crazul-2; transition: $trst2;
        &:hover{ letter-spacing: 0.5px; text-decoration: underline; }
      }
    }
  }

  @media (max-width:800px){
    .box-inner-recupera{
      .item-recupera{width: 100%; transition: $trst2;}
    }
  }
}

// ============= BOTON SUBIR =============
.ir-arriba { position: fixed; bottom: 0; right: 3px; background-color: $crrojo; color: $crblanco;  width: 50px; height: 40px;  border-radius: 10px 10px 0 0; font-size: 20px; cursor: pointer; z-index: 20; transition: $trst3; display: flex; justify-content: center; align-items: center;   
  &:hover {
      box-shadow: 0px 0px 3px $crazul;
      .fa-chevron-up{
        font-weight: bold;
    }
  }
}
/**************************************
***          MODAL          ****
***************************************/
.modal { 
  position: fixed; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.25); display:none; top: 0; left: 0; z-index: 200;
  // ============= estilo modal 1 =============	
  .body-modal { width: 100%; display: flex; justify-content: center;  align-items: center; min-height: 100vh;
    #form_eliminar, #frm_actualizar, .form_sendMail,
    .frmbody { width: 800px; max-height: 650px; background: white; padding: 16px 20px; border-radius: 6px; overflow: auto; box-shadow: -1px 1px 10px $crnegro;
      .title{text-align: center; color:$crazul-2}
      .w100 {width:calc(100% - 20px); margin: 10px; }
      .w50 {width: calc(50% - 20px); margin: 0 10px;}        
      .w30-mg{width: calc(33% - 20px);margin: 0 10px;}
      .w25-mg {width: calc(25% - 10px);margin: 0 5px;}
      hr {width: 100%; margin: 3px auto 14px; height: 2px; background-color: $crazul-2; }
      .box-input{position: relative; margin-bottom: 16px; 
        input, select, textarea{padding:8px 36px 8px 16px; width:100%; height: 40px; outline: none; border-radius:$radius; border: 1px solid rgba(28, 117, 188, 0.5);   
          &:hover, &:focus{border: 1px solid rgba(28, 117, 188, 0.9);   }
        }
        textarea{resize: none; height: 50px; max-height: 240px; padding: 10px; }
        textarea::-webkit-scrollbar{width: 0px;}
        // textarea::-moz-scrollbar{width: 0px;}
        .counter{position: absolute; right: 10px; top: 50%; border-left: 1px solid rgba(28, 117, 188, 0.5); padding-left: 10px; width: 36px; font-weight: 400; color: $crgris;}
        .counter-2{position: absolute; left: 245px; top: -3px; color:$crgris; font-weight: 400;}
        
        label{ font-size: 18px; line-height: 18px; color:$crgris; margin-bottom: 10px; display: block; color: $crazul; font-weight: 900;}
        .btn-file{display: flex; align-items: center; padding:12px 20px; border-radius:$radius; background-color: $crazul; color: $crazullight; margin-bottom: 10px; 
          i{font-size: 20px; margin-right: 5px;}}
      }      
      @media (max-width:500px) {
          .w50 {width :calc(100%);}                
      }
    }

    #form_eliminar { text-align: center;
      .mensaje{width: 100%;  font-weight: 400; margin: 15px 0; }
      h2 { margin-bottom: 5px; }
      .box-nombre { padding: 15px 0;  color: $crazul-2; letter-spacing: 0.5px; font-size: 20px; font-weight: 600;
      }
    }

    .form_sendMail{ text-align: center;
      .text{ font-weight: 500; }
      .box-nombre, .box-correo{text-transform: uppercase;  span{font-size: 22px; color:$crazul-2; font-weight: 400; text-transform: lowercase;}}
    }
  }
}

.modal.is-active{
  transform: translate(0,0); 
  opacity: 1;
  visibility: visible;
}

.modalBienvenida{
  position: absolute; width:100%; height: 100%; top:0; left: 0; background-color: $rgbaazul; color:$crblanco; display: flex; align-items: center; justify-content: center; transition: $trst2;
  animation: modal 3s 3s;	
  animation-fill-mode:forwards;	
  visibility: hidden;
  opacity: 0; z-index:300;
  .closed-modal{position: absolute; right: 10px; top:10px;width: 30px; height: 30px; border-radius: 50%; display: flex; align-items: center; justify-content: center;  background-color: $crazul-2; font-size:20px; color:$crblanco; cursor: pointer;}
  .box-modal{ position: relative; background-color:$crazul-2; border-radius: $radius; width: 70%; padding: 30px 50px; transition: $trst2;
    .title{text-align: center; margin-bottom: 30px;}
    .box-video{ width: 100%;  margin: auto; margin-bottom: 20px;
      video{width: 100%;}
    }
    .box-input{ display: flex; align-items: center;
      input[type="checkbox"]{width: 16px; height: 16px; margin-right: 6px;}
    }
    
  }
}

@keyframes modal {
  100%{visibility: visible; opacity: 1;}
}

.modalBienvenida.is-inactive{  
  opacity: 0;
  visibility: hidden;
}


@media screen and(max-width:700px){
  .modalBienvenida{ 
    .box-modal{ width:96%; transition: $trst2;
      // .video{height:400px; transition: $trst2;}
    }
  }
}